.registration_form {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);
    padding: 10px 25px 20px;
    border-radius: 6px;
    border: 2px solid var(--red);
}
.registration_form h2 {
    text-align: center;
    font-size: 38px;
    margin: .5em 0 .8em;
}
.registration_form p {
    text-align: center;
}
.registration_form a {
    transition: color .3s ease;
    color: var(--red);
    font-weight: bold;
}
.registration_form a:hover {
    color: var(--white);
}