.platform {
    /* display: flex; */
    /* grid-template-columns: .20fr 1fr; */
    gap: 30px;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 30px;
}
.platform_content {
    margin-bottom: 10px;
}
.platform_content h2 {
    text-align: center;
    text-transform: capitalize;
}
.platform_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}